.App-products {
  h1 {
    padding-top: 3rem;
    margin: 1.2rem 0 1.8rem 0;
  }
  h3 {
    font-weight: 600;
    margin-top: 12;
    font-size: calc(8px + 1.6vmin);
  }
  .topMargin {
    margin-top: 24px;
  }
}

// .max-width {
//   min-width: 100%;
// }
