@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/<type>";
.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 20rem;
}

@media screen and (max-width: 600px) {
  .App {
    padding-bottom: 30rem;
  }
}

html,
body {
  height: 100%;
  margin-top: 54px;
}

p {
  font-weight: 300;
  font-size: calc(14px + 1vmin);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #212529;
  font-size: calc(16px + 2vmin);
}
h1 {
  color: #99b9c0;
  font-family: "Kumar One", cursive;
  font-weight: 600;
  text-shadow: 2px 2px #0000001a;
}

.gradientRed {
  background-color: #ffffff;
  background-image: linear-gradient(
    177deg,
    #ffffff 20%,
    #fcf8ec 40%,
    #fbefd5 100%
  );
}
//url("https://www.transparenttextures.com/patterns/dimension.png")
.gradientGreen {
  background-image: linear-gradient(350deg, #fcfcfc 70%, #e0f0e8 100%);
}
