@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");

.App {
  min-height: 100vh;
  position: relative;

  padding-bottom: 280px;
}

html,
body {
  height: 100%;
  margin-top: 54px;
}

p {
  font-weight: 300;
  font-size: calc(14px + 1vmin);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #212529;
  font-size: calc(16px + 2vmin);
}
h1 {
  font-weight: 600;
}

.gradientBG {
  background-color: #e4b0ae;
  background-image: linear-gradient(
    315deg,
    #fbd1fb 6%,
    #ffffff 25%,
    #ffffff 75%,
    #c2f5ff 96%
  );
}

.gradientRed {
  background-color: #ffffff;
  background-image: linear-gradient(
    177deg,
    #ffffff 20%,
    #fcecec 40%,
    #f5aeae 100%
  );
}
.gradientGreen {
  background-image: linear-gradient(350deg, #fcfcfc 70%, #c5d1be 100%);
}
